@model IPagedList<MedicalTreatment.Models.MEDICALSERVICE>

@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    var emp = "الموظف فقط";
    var empFam = "الموظف والعائلة";
    var Male = "ذكر";
    var Female = "أنثي";
    var Both = "معا";
    var DetailService = "التفاصيل";
    var WholeCeiling = "سقف كامل";
    var Service = "خدمة";
            
}

@if (TempData["AlertMessage"] == "success")
{
    <script src="~/Content/cdnjs/sweetalert2.all.min.js"></script>
    <script type="text/javascript">
        Swal.fire(
   'نجحت العملية',
   'تمت الاضافة بنجاح',
   'success'
 )
        @*window.onload = function () {
            alert("@TempData["AlertMessage"]");
            //swal({ title: "Done", text: "done", icon: "error" });
        }*@

    </script>
}
@if (TempData["AlertMessage"] == "edit")
{
    <script src="~/Content/cdnjs/sweetalert2.all.min.js"></script>
    <script type="text/javascript">
        Swal.fire(
   'نجحت العملية',
   'تمت التعديل بنجاح',
   'success'
 )
        @*window.onload = function () {
            alert("@TempData["AlertMessage"]");
            //swal({ title: "Done", text: "done", icon: "error" });
        }*@

    </script>
}
@if (TempData["AlertMessage"] == "deleted")
{
    <script src="~/Content/cdnjs/sweetalert2.all.min.js"></script>
    <script type="text/javascript">
        Swal.fire(
   'نجحت العملية',
   'تم الحذف بنجاح',
   'error'
 )
        @*window.onload = function () {
            alert("@TempData["AlertMessage"]");
            //swal({ title: "Done", text: "done", icon: "error" });
        }*@

    </script>
}

<div class="title-header">
    <h4 class="d-flex justify-content-center "><i class="mx-2 my-auto fa fa-hand-holding-medical"></i> الخدمات الطبية</h4>
</div>
<hr />


@using (Html.BeginForm("Index", "MedicalServiceCeiling", FormMethod.Get))
{
     <div class="d-flex mt-5">

        <div class="form-inline ml-auto" align="center">
            <input type="text" name="search" placeholder="بــــحــــث" class="form-control" />
            <input type="submit" name="submit" value="بحث" class="btn btn-outline-primary mx-3" />
        </div>
         <a href="/MedicalServices/Create" class="btn btn-facebook ">اضافة</a>
    </div>
}
<br />
<br />


<div class="table-responsive">
    <table class="table table-border table-hover border" dir="rtl" id="sortedtable">
        <thead class="thead-dark">
            <tr style="text-align:center">
                <th>

                    @Html.Label("الأسم")
                </th>
                <th>
                    @Html.Label("اللأسم بالأنجليزي")
                </th>
                <th>
                    @Html.Label("تشمل الخدمة")
                </th>
                <th>
                    @Html.Label("تنطبق على")
                </th>
                <th>
                    @Html.Label("نوع السقف")
                </th>
                <th>
                    @Html.Label("خدمة محدودة")
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
{
    <tr style="text-align:center">
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAMEEN)
        </td>
        <td>
            @if (item.SERVICEINCLUDE == "EmployeeOnly")
            {
                @emp
            }
            @if (item.SERVICEINCLUDE == "EmployeeAndFamily")
            {
                @empFam
            }
        </td>
        <td>
            @if (item.APPLICABLEFOR == "Male")
            {

                @Male
            }
            @if (item.APPLICABLEFOR == "Female")
            {
                @Female
            }
            @if (item.APPLICABLEFOR == "Both")
            {
                @Both
            }

        </td>

        <td>
            @if (item.CEILINGTYPE == "DetailService")
            {
                @DetailService
            }
            @if (item.CEILINGTYPE == "WholeCeiling")
            {
                @WholeCeiling
            }
            @if (item.CEILINGTYPE == "Service")
            {
                @Service
            }
        </td>
        <td>
            @if (item.LIMITSERVICE == "Yes")
            {
                var y = "نعم";
                @y
            }
            @if (item.LIMITSERVICE == "No")
            {
                var N = "لا";
                @N
            }
        </td>

        <td>


            <a href="/MedicalServices/Edit/@item.ID" class="btn btn-outline-success"><i class="fa fa-pencil-alt"></i>   </a> |
            <a href="/MedicalServices/Details/@item.ID" class="btn btn-outline-info"><i class="fa fa-list"></i>   </a>|
            <a href="/MedicalServices/Delete/@item.ID" class="btn btn-outline-danger"><i class="fa fa-trash"></i>   </a>
        </td>
    </tr>
}
        </thead>
    </table>

        <div class="pager next">
            @Html.PagedListPager(Model, x => Url.Action("Index", "MEDICALSERVICE", new { x, search = Request.QueryString["search"] }))
        </div>
</div>

<link href="~/Scripts/datatables/dataTables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/datatables/dataTables.bootstrap.js"></script>
<script src="~/Scripts/datatables/jquery.dataTables.js"></script>
<script type="text/javascript">
    $("#sortedtable").DataTable();
</script>