@model MedicalTreatment.Models.ORGANIZATIONSTRUCTURE

@{
    ViewBag.Title = "Details";
}

<div class="title-header">
    <h4 class="d-flex justify-content-center "><i class="mx-2 my-auto fa fa-hand-holding-medical"></i>تفاصيل هيكل المؤسسة</h4>
</div>

<fieldset class="card shadow mx-auto w-75 p-4" dir="rtl">
    <legend class="bg-custom shadow  px-3">التفاصيل</legend>
    <div class="row">
        <div class="alert col-md-5 mx-4 alert-info ">
            <b> طبيعة الهيكل    </b>
            <div class="">
                @Html.DisplayFor(model => model.STRUCTURECODEID)
            </div>
        </div>
        <div class="alert col-md-5 mx-4 alert-info ">
            <b> الهيكل</b>
            <div class="">
                @Html.DisplayFor(model => model.PARENTID.Value)
            </div>
        </div>
        <div class="alert col-md-5 mx-4 alert-info">
            <b>  الأسم    </b>
            <div class="">
                @Html.DisplayFor(model => model.NAME)
            </div>
        </div>


        <div class="alert col-md-5 mx-4 alert-info ">
            <b> الاسم بالانجليزي</b>
            <div class="">
                @Html.DisplayFor(model => model.NAMEEN)
            </div>
        </div>


        <div class="alert col-md-5 mx-4 alert-info ">
            <b>  الحالة</b>
            <div class="">
                @Html.DisplayFor(model => model.STATUS)
            </div>
        </div>


        <div class="alert col-md-5 mx-4 alert-info ">
            <b> آخر تحديث</b>
            <div>
                @Html.DisplayFor(model => model.LASTUPDATED)

            </div>
        </div>
    </div>
  
</fieldset>
<p class="mt-3 d-flex justify-content-end mx-auto w-75">
    <a href="/OrganizationStructure/Index" class="btn btn-outline-info mx-2">عودة للقائمة</a>
  

</p>

