@model MedicalTreatment.Models.CARD
@using MedicalTreatment.Models
@{
    ViewBag.Title = "Print";
}

<div class="title-header hidden-area">
    <h4 class="d-flex justify-content-center "><i class="mx-2 my-auto fa fa-id-card"></i>البطاقات</h4>
</div>

<fieldset class="card  w-100 p-4" dir="rtl" style="color: #fff;">
    <legend class="bg-custom shadow  px-3 hidden-area">طباعة</legend>
    <div class="mx-auto shadow p-4" id="card-details">
        <div class="row">
            <b class="mx-auto">مجموعة دال الكبري</b>
        </div>
        <hr style="color: #fff;" />
        <div class="row">

            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">

                        رقم البطاقة :

                    </div>
                    <div class="col-md-8">

                        @Html.DisplayFor(model => model.CARDNUMBER)

                    </div>
                    <div class="col-md-4">

                        اسم الكافل :

                    </div>
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.INDIVIDUAL.NAME)
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">

                        تاريخ الإصدار :

                    </div>
                    <div class="col-md-8" >
                        @Html.DisplayFor(model => model.ISSUEDATE)
                    </div>

                    <div class="col-md-4">

                        تاريخ الانتهاء :

                    </div>
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.EXPIRYDATE)
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">

                        ملاحظات : 

                    </div>
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.NOTE)
                    </div>

                    <div class="col-md-4">

                        عداد الطباعة :

                    </div>
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.PRINTCOUNT)
                    </div>



                </div>

            </div>
            <div class="col-md-4">
                <img src="/Cards/RetrieveImage/@Model.ID" class="img-thumbnail rounded" height="100" width="100" />
            </div>
        </div>
    </div>


</fieldset>
<p class="mt-3 d-flex justify-content-center w-100 hidden-area">
    <a href="/Cards/Index" class="btn btn-outline-info mx-2"> رجوع</a>
    <button onclick="printCard()"   class="btn btn-success"> طباعة</button>

</p>

