@model MedicalTreatment.Models.MEDICALCLAIMFORMDETAIL

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>MEDICALCLAIMFORMDETAIL</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MEDICALCLAIMFORM.PATIENTEMPLOYEE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MEDICALCLAIMFORM.PATIENTEMPLOYEE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SERVICEFEESTYPE.NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SERVICEFEESTYPE.NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AMOUNT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AMOUNT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UNIT.NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UNIT.NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NUMBEROFUNITS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NUMBEROFUNITS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TOTALAMOUNT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TOTALAMOUNT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENTITLEMENTPERCENT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENTITLEMENTPERCENT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENTITLEMENTAMOUNT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENTITLEMENTAMOUNT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LASTUPDATED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LASTUPDATED)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
