@model IPagedList<MedicalTreatment.Models.MEDICALCLAIMFORMDETAIL>
@using PagedList;
@using PagedList.Mvc;
@using MedicalTreatment.Models


@{
    ViewBag.Title = "Index";
    Entities db = new Entities();
}
@if (TempData["AlertMessage"] == "success")
{
    <script src="~/Content/cdnjs/sweetalert2.all.min.js"></script>
    <script type="text/javascript">
        Swal.fire(
   'نجحت العملية',
   'تمت الاضافة بنجاح',
   'success'
 )
        @*window.onload = function () {
            alert("@TempData["AlertMessage"]");
            //swal({ title: "Done", text: "done", icon: "error" });
        }*@

    </script>
}
@if (TempData["AlertMessage"] == "edit")
{
    <script src="~/Content/cdnjs/sweetalert2.all.min.js"></script>
    <script type="text/javascript">
        Swal.fire(
   'نجحت العملية',
   'تمت التعديل بنجاح',
   'success'
 )
        @*window.onload = function () {
            alert("@TempData["AlertMessage"]");
            //swal({ title: "Done", text: "done", icon: "error" });
        }*@

    </script>
}
@if (TempData["AlertMessage"] == "deleted")
{
    <script src="~/Content/cdnjs/sweetalert2.all.min.js"></script>
    <script type="text/javascript">
        Swal.fire(
   'نجحت العملية',
   'تم الحذف بنجاح',
   'error'
 )
        @*window.onload = function () {
            alert("@TempData["AlertMessage"]");
            //swal({ title: "Done", text: "done", icon: "error" });
        }*@

    </script>
}


<h2 class="btn btn-outline-dark d-flex justify-content-center">تفاصيل المعلومات الطبية</h2>

<p>
    <a href="/MedicalClaimFormDetail/Create" class="btn btn-facebook">اضافة</a>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
@using (Html.BeginForm("Index", "MedicalClaimFormDetail", FormMethod.Get))
{
    <div style="margin-bottom:20px" align="center">
        <input type="text" name="search" placeholder="بــــحــــث" class="form-control" style="width: 300px; margin-bottom: 10px" />
        <input type="submit" name="submit" value="بحث " class="btn btn-outline-primary" />
    </div>
}

<div class="table-responsive">
    <table class="table table-border table-hover" dir="rtl" id="sortedtable">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayName("اسم المريض")
                </th>
                <th>
                    @Html.DisplayName("اسم نوع الخدمة")
                </th>
                <th>
                    @Html.DisplayName("المبلغ")
                </th>
                <th>
                    @Html.DisplayName("إسم وحدة القياس")
                </th>
                <th>
                    @Html.DisplayName("عدد الوحدات")
                </th>
                <th>
                    @Html.DisplayName("إجمالي المبلغ")
                </th>
                <th>
                    @Html.DisplayName("نسبة الاستحقاق")
                </th>
                <th>
                    @Html.DisplayName("مبلغ الإستحقاق")
                </th>
                @*<th>
                    @Html.DisplayName("LASTUPDATED")
                </th>*@
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MEDICALCLAIMFORM.PATIENTEMPLOYEE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SERVICEFEESTYPE.NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AMOUNT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UNIT.NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NUMBEROFUNITS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TOTALAMOUNT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ENTITLEMENTPERCENT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ENTITLEMENTAMOUNT)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.LASTUPDATED)
                    </td>*@
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-outline-warning" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-outline-info" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-outline-danger" })
                    </td>
                </tr>
            }
        </thead>
    </table>
    <div class="pager next">
        @Html.PagedListPager(Model, x => Url.Action("Index", "MedicalClaimFormDetail", new { x, search = Request.QueryString["search"] }))
    </div>
</div>
<link href="~/Scripts/datatables/dataTables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/datatables/dataTables.bootstrap.js"></script>
<script src="~/Scripts/datatables/jquery.dataTables.js"></script>
<script type="text/javascript">
    $("#sortedtable").DataTable();
</script>
