@model IPagedList<MedicalTreatment.Models.MEDICALCLAIMFORM>
@using PagedList;
@using PagedList.Mvc;
@using MedicalTreatment.Models



@{
    ViewBag.Title = "Index";
    Entities db = new Entities();
}



@if (TempData["AlertMessage"] == "success")
{
    <script src="~/Content/cdnjs/sweetalert2.all.min.js"></script>
    <script type="text/javascript">
        Swal.fire(
   '',
   'تمت الاضافة بنجاح',
   'success'
 )
    </script>
}
@if (TempData["AlertMessage"] == "edit")
{
    <script src="~/Content/cdnjs/sweetalert2.all.min.js"></script>
    <script type="text/javascript">
        Swal.fire(
   '',
   'تمت التعديل بنجاح',
   'success'
 )
    </script>
}
@if (TempData["AlertMessage"] == "deleted")
{
    <script src="~/Content/cdnjs/sweetalert2.all.min.js"></script>
    <script type="text/javascript">
        Swal.fire(
   '',
   'تم الحذف بنجاح',
   'error'
 )

    </script>
}
@if (TempData["AlertMessage"] == "deleted")
{
    <script src="~/Content/cdnjs/sweetalert2.all.min.js"></script>
    <script type="text/javascript">
        Swal.fire(
   '',
   'تم الحذف بنجاح',
   'error'
 )

    </script>
}

<div class="title-header">
    <h4 class="d-flex justify-content-center "><i class="mx-2 my-auto fa fa-hand-holding-medical"></i>أستمارة طلب منصرفات علاجية</h4>
</div>
<hr />

@using (Html.BeginForm("Index", "MedicalClaimFormDetail", FormMethod.Get))
{
    <div style="margin-bottom:20px" align="center">
        <input type="text" name="search" placeholder="بــــحــــث" class="form-control" style="width: 300px; margin-bottom: 10px" />
        <input type="submit" name="submit" value="بحث " class="btn btn-outline-primary" />
    </div>
    <a href="/MedicalClaimForm/Create" class="btn btn-facebook">اضافة</a>

}

<div class="table-responsive">
    <table class="table table-border table-hover" dir="rtl" id="sortedtable">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayName("أسم الموظف")
                </th>
                @*<th>
                        @Html.DisplayName("المجموعة")
                    </th>*@
                <th>
                    @Html.DisplayName("الشركة")
                </th>
                @*<th>
                        @Html.DisplayName("أسم الأدارة")
                    </th>
                    <th>
                        @Html.DisplayName("أسم القسم")
                    </th>*@
                @*<th>
                        @Html.DisplayName("المريض الموظف؟")
                    </th>*@
                <th>
                    @Html.DisplayName("أسم المريض")
                </th>
                <th>
                    @Html.DisplayName("الخدمة الطبية")
                </th>
                @*<th>
                        @Html.DisplayName("بيان الخدمة الطبية")
                    </th>*@
                @*<th>
                        @Html.DisplayName("تاريخ بداية الإجازة المرضية")
                    </th>
                    <th>
                        @Html.DisplayName("تاريخ انتهاء الإجازة المرضية")
                    </th>*@
                <th>
                    @Html.DisplayName("تاريخ المطالبة")
                </th>
                @*<th>
                        @Html.DisplayName("تاريخ توقيع الوحدة الخدمية للموظف")
                    </th>*@
                @*<th>
                        @Html.DisplayName("تاريخ الإدخال")
                    </th>*@
                @*<th>
                        @Html.DisplayName("تاريخ الموافقة")
                    </th>*@
                <th>
                    @Html.DisplayName("جملة مبلغ العلاج")
                </th>
                <th>
                    @Html.DisplayName("المبلغ المستحق")
                </th>
                <th>
                    @Html.DisplayName("المبلغ المصدق")
                </th>
                @*<th>
                        @Html.DisplayName("تعليق مقدم الطلب")
                    </th>
                    <th>
                        @Html.DisplayName("تعليق الوحدة الخدمية للموظف")
                    </th>
                    <th>
                        @Html.DisplayName("تعليق الموارد البشرية")
                    </th>*@
                @*<th>
                        @Html.DisplayName("الحالة")
                    </th>
                    <th>
                        @Html.DisplayName("آخر تحديث")
                    </th>*@
                <th>تحكــــم</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.INDIVIDUAL.NAME)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.ORGANIZATIONSTRUCTURE3.NAME)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.ORGANIZATIONSTRUCTURE1.NAME)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.ORGANIZATIONSTRUCTURE.NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ORGANIZATIONSTRUCTURE2.NAME)
                        </td>*@
                    @*<td>
                            @Html.DisplayFor(modelItem => item.PATIENTEMPLOYEE)
                        </td>*@

                @{
                    if (item.PATIENTID != null)
                {
                    var x = item.PATIENTID;
                    var y = db.INDIVIDUALS.Where(a => a.ID == x).SingleOrDefault().NAME;
                 <td>
                     @y
                 </td>        
                } else
                {
                <td>

                </td>
                } 
                }   
                       

                        <td>
                            @Html.DisplayFor(modelItem => item.MEDICALSERVICE.NAME)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.MEDICALDETAILSERVICE.NAME)
                            </td>*@
                        @*<td>
                                @Html.DisplayFor(modelItem => item.SICKLEAVESTARTDATE)
                                @if (item.SICKLEAVESTARTDATE == null)
                                {
                                    @Html.DisplayFor(modelItem => item.SICKLEAVESTARTDATE)
                                }
                                else
                                {
                                    @item.SICKLEAVESTARTDATE.Value.ToShortDateString()
                                }
                            </td>*@
                        @*<td>
                                @Html.DisplayFor(modelItem => item.SICKLEAVEENDDATE)
                                @if (item.SICKLEAVESTARTDATE == null)
                                {
                                    @Html.DisplayFor(modelItem => item.SICKLEAVEENDDATE)
                                }
                                else
                                {
                                    @item.SICKLEAVEENDDATE.Value.ToShortDateString()
                                }
                            </td>*@
                        <td>
                            @*@Html.DisplayFor(modelItem => item.SICKLEAVEENDDATE)*@
                            @if (item.SICKLEAVEENDDATE == null)
                            {
                                @Html.DisplayFor(modelItem => item.SICKLEAVEENDDATE)
                            }
                            else
                            {
                                @item.SICKLEAVEENDDATE.Value.ToShortDateString()
                            }


                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.EMPLOYEESERVICEUNITDATE)
                                @if (item.EMPLOYEESERVICEUNITDATE == null)
                                {
                                    @Html.DisplayFor(modelItem => item.EMPLOYEESERVICEUNITDATE)
                                }
                                else
                                {
                                    @item.EMPLOYEESERVICEUNITDATE.ToShortDateString()
                                }
                            </td>*@
                        @*<td>
                                @Html.DisplayFor(modelItem => item.ENTERDATE)
                            </td>*@
                        @*<td>*@
                        @* @Html.DisplayFor(modelItem => item.APPROVEDDATE)*@
                        @*@if (item.APPROVEDDATE == null)
                            {
                                @Html.DisplayFor(modelItem => item.APPROVEDDATE)
                            }
                            else
                            {
                                @item.APPROVEDDATE.Value.ToShortDateString()
                            }*@


                        @*</td>*@

                        <td>
                            @Html.DisplayFor(modelItem => item.TOTALCLAIMAMOUNT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ENTITLEMENTAMOUNT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.APPROVEDAMOUNT)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.CLAIMNOTE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EMPLOYEESERVICEUNITNOTE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HUMANRESOURCESNOTE)
                            </td>*@
                        @*<td>
                                @Html.DisplayFor(modelItem => item.STATUS)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LASTUPDATED)
                            </td>*@
                        @*<td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            </td>*@

                        <td>
                            <a href="/MedicalClaimForm/Edit/@item.ID" class="btn btn-outline-success"><i class="fa fa-pencil-alt"></i>   </a>
                            @*|
                                <a href="/MedicalClaimForm/Details/@item.ID" class="btn btn-outline-info"><i class="fa fa-list"></i>   </a>*@
                            |
                            <a href="/MedicalClaimForm/Delete/@item.ID" class="btn btn-outline-danger"><i class="fa fa-trash"></i>   </a>
                        </td>
                    </tr>
            }
        </thead>
    </table>
    <div class="pager next">
        @Html.PagedListPager(Model, x => Url.Action("Index", "MedicalClaimFormDetail", new { x, search = Request.QueryString["search"] }))
    </div>
</div>
<link href="~/Scripts/datatables/dataTables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/datatables/dataTables.bootstrap.js"></script>
<script src="~/Scripts/datatables/jquery.dataTables.js"></script>
<script type="text/javascript">
    $("#sortedtable").DataTable();
</script>
