@model MedicalTreatment.Models.SUPPLIER

@{
    ViewBag.Title = "Create";
}

<div class="title-header">
    <h4 class="d-flex justify-content-center "><i class="mx-2 my-auto fa fa-hand-holding-medical"></i>مقدمى الخدمة</h4>
</div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<fieldset class="card p-4 shadow">
    <legend class="bg-custom shadow  px-3">إضافة</legend>
    <div class="row">
        <div class="col-md-4">

            <div class="editor-label">
               نوع مقدم الخدمة
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.SUPPLIERTYPEID, ViewBag.SUPPLIERTYPEID as SelectList, "---اختر---", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SUPPLIERTYPEID)
            </div>
        </div>
        <div class="col-md-4">
            <div class="editor-label">
              الإسم بالعربي
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.NAME, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NAME)
            </div>
        </div>
        <div class="col-md-4">
            <div class="editor-label">
             الاسم بالانجليزي
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.NAMEEN, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NAMEEN)
            </div>
        </div>
    </div>

    <p class="mt-3">
        <input type="submit" class="btn btn-primary" value="حفظ" />
        <a href="/Suppliers/Index" class="btn btn-outline-info">عودة للقائمة</a>

    </p>
</fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
