@model MedicalTreatment.Models.UNIT

@{
    ViewBag.Title = "Edit";
}

<h2 class="btn btn-outline-dark d-flex justify-content-center">وحدات القياس</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

    <div class="row my-2">
        <div class="col-md-4">
            @Html.LabelFor(model => model.NAME)
            <div>
                @Html.TextBoxFor(model => model.NAME, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NAME)
            </div>
        </div>
        <div class="col-md-4">
            @Html.LabelFor(model => model.NAMEEN)
            <div>
                @Html.TextBoxFor(model => model.NAMEEN, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NAMEEN)
            </div>
        </div>


        <div class="col-md-4">
            @Html.LabelFor(model => model.ID)
            <div>
                @Html.TextBoxFor(model => model.ID, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID)
            </div>
        </div>
        @Html.HiddenFor(model => model.STATUS)
        @Html.HiddenFor(model => model.LASTUPDATED)
    </div>
    <div align="center">

        <input type="submit" value="Edit" class="btn btn-success" />
        <a href="/StructureCodes/Index" class="btn btn-outline-info">Back to List</a>
     
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
