@model MedicalTreatment.Models.ORGANIZATIONPROFILE

@{
    ViewBag.Title = "Edit";
}
<div class="title-header">
    <h4 class="d-flex justify-content-center "><i class="mx-2 my-auto fa fa-hand-holding-medical"></i> ملف المؤسسه الاساسي</h4>
</div>
<br />
@*<h2>ملف المؤسسه الاساسي</h2>*@

@using (Html.BeginForm("Edit", "OrganizationProfile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<fieldset class="card p-4 shadow">
    <legend class="bg-custom shadow  px-3">تعديل</legend>

    @Html.HiddenFor(model => model.ID)
    <div class="row my-2">
        <div class="col-md-4">
           
                @Html.Label("إسم المؤسسة")
            
            <div class="editor-field">
                @Html.DropDownList("ORGANIZATIONID", null, "---اختر---", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ORGANIZATIONID)
            </div>
        </div>
        <div class="col-md-4">
          
                @Html.Label("العنوان")
         
            <div class="editor-field">
                @Html.TextBoxFor(model => model.ADDRESS, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ADDRESS)
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-4">
            <div class="editor-label">
                @Html.Label("شعار الشركة")
            </div>
            <div class="editor-field">
                <input type="file" name="file" class="form-control" />
                @*@Html.TextBoxFor(model => model.PHOTO, new { @class = "form-control", @type = "file" ,@id = "Photo" })*@
                @Html.ValidationMessageFor(model => model.LOGO)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="editor-label">
                @Html.Label("شعار المؤسسة")
            </div>
            <div class="editor-field">
                <input type="file" name="file1" class="form-control" />
                @*@Html.TextBoxFor(model => model.PHOTO, new { @class = "form-control", @type = "file" ,@id = "Photo" })*@
                @Html.ValidationMessageFor(model => model.FORMLOGO)
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <img src="/OrganizationProfile/RetrieveImage/@Model.ID" class="shadow rounded mt-3" height="100" width="300" />
    </div>
    <div class="col-md-4">
        <img src="/OrganizationProfile/RetrieveFromLogo/@Model.ID" class="shadow rounded mt-3" height="100" width="300" />
    </div>


    <p class="mt-3 col-md-12 ">
        <a href="/OrganizationProfile/Index" class="btn btn-outline-info">عودة للقائمة</a>
        <input type="submit" class="btn btn-success" value="تعديل" />
    </p>
</fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
