@model MedicalTreatment.Models.SERVICEFEESTYPE

@{
    ViewBag.Title = "Edit";
}

<div class="title-header">
    <h4 class="d-flex justify-content-center "><i class="mx-2 my-auto fa fa-money-bill-wave"></i> انواع رسوم الخدمات</h4>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="card p-4 shadow">
        <legend class="bg-custom shadow  px-3">تعديل</legend>

        @Html.HiddenFor(model => model.ID)
        <div class="row">
            <div class="col-md-6">
                <div class="editor-label">
                    الاسم بالعربي
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.NAME, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NAME)
                </div>
            </div>
            <div class="col-md-6">
                <div class="editor-label">
                    الاسم بالانجليزي
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.NAMEEN, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NAMEEN)
                </div>
            </div>
        </div>



        <p class="mt-3 col-md-12 ">
            <a href="/SeviceFeesType/Index" class="btn btn-outline-info">عودة للقائمة</a>
            <input type="submit" class="btn btn-success" value="تعديل" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
